<div class="container-auth">


<div class="box-auth">
  <h2>New user ?</h2>
  <p>Don't have an account yet ? <br>No more hesitations ! Get one and start bartering.</p>
  <a href="/signup">Become a barter</a>
</div>


<div class="box-auth">
    <h2>Already have an account</h2>
    
<form action="/login" method="POST">
    <label>
        Email:
        <input type="text" name="email" placeholder="you@email.com">
    </label>
    <label>
        Password:
        <input type="password" name="password" placeholder="********">
    </label>
    <button>Log me</button>
</form>

{{#if errorMessage}}
      <h3>{{errorMessage}}</h3>
{{/if}}
</div>

</div>