<div class="container-auth">

<div class="box-auth">
  <h2>New user ?</h2>
  <p> Don't have an account yet ? </p>
  <div></div>
   <p> No more hesitations, get one and start bartering with us.</p>
    
  <a href="/signup">Become a barter</a>
</div>


<div class="box-auth">
    <h2>Sign in</h2>
    
<form action="/login" method="POST">
    <label>
        <input type="text" name="email" placeholder="EMAIL ADRESS">
    </label>
    <label>
        <input type="password" name="password" placeholder="PASSWORD">
    </label>
    <button>Log me</button>
</form>

{{#if errorMessage}}
      <h3>{{errorMessage}}</h3>
{{/if}}
</div>