<form action="/auth/signup" method="POST">
    <Label>
        Prénom
        <input type="text" name="prénom">
    </Label>

    <label>
        Nom
        <input type="text" name="nom">
    </label>

    <label>
        Nom d'utilisateur
        <input type="text" name="nomdutilisateur">
    </label>

    <label>
        Email
        <input type="email" name="email">
    </label>

    <label>
        Mot de passe
        <input type="password" name="motdepasse">
    </label>

    <label>
        Confirmation du mot de passe
        <input type="password" name="confirmationdumotdepasse">
    </label>

    {{!-- <input id="image" type="file" name="profile_photo" placeholder="Photo" required="" capture> --}}
    {{!-- <label>
        Photo de profil
        <input type="text" name="nom">
    </label> --}}

    <label>
        Ville
        <input type="text" name="ville">
    </label>

    <label>
        Code postal
        <input type="number" name="codepostal">
    </label>

    <a href="/monprofil">Je créé mon compte</a>
    
</form>