<form action="/signup" method="POST" enctype="multipart/form-data">
    <label>
        Firstname
        <input type="text" name="firstname">
    </label>

    <label>
        Lastname
        <input type="text" name="lastname">
    </label>

    <label>
        Username
        <input type="text" name="username">
    </label>

    <label>
        Email
        <input type="text" name="email">
    </label>

    <label>
        Password
        <input type="password" name="password">
    </label>

    <label>
        Avatar
        <input id="image" type="file" name="image"/>
    </label>

    <label>
        City
        <input type="text" name="city">
    </label>

    <label>
        ZIP
        <input type="text" name="zip">
    </label>

    <button>Create my account</button>
    
</form>

{{#if errorMessage}}
    <h2>{{errorMessage}}</h2>
{{/if}}