<div class="container-signup-form">

    <div class="box-signup-form ">
        <h2>Create your trader profile</h2>

        <form action="/signup" method="POST" enctype="multipart/form-data">
            <label>
            <div class="signup-tag">First name</div>

            <input class="signup-input" type="text" name="firstname">
            </label>

            <label>
            <div class="signup-tag">Last name</div>
            <input class="signup-input" type="text" name="lastname">
            </label>

            <label>
            <div class="signup-tag">User name</div>
            <input class="signup-input"  type="text" name="username">
            </label>

            <label>
            <div class="signup-tag">Email</div>
            <input class="signup-input"  type="text" name="email">
            </label>

            <label>
            <div class="signup-tag">Password</div>
            <input class="signup-input" type="password" name="password">
            </label>

            <label>
            <div class="signup-tag">Avatar</div>
            <input class="signup-input"  id="image" type="file" name="image"/>
            </label>

            <label>
            <div class="signup-tag">City<div>
            <input class="signup-input"  type="text" name="city">
            </label>

            <label>
            <div class="signup-tag">ZIP</div>
            <input class="signup-input" type="text" name="zip">
            </label>

            <button>Create my account</button>
<<<<<<< HEAD
        
        </form>

      <div class="message-error">
        {{#if errorMessage}}
        <p>{{errorMessage}}</p>
        {{/if}}
      </div>

    </div>
</div>
=======

        </form>

        {{#if errorMessage}}
        <p>{{errorMessage}}</p>
        {{/if}}

    </div>
</div> 
>>>>>>> 7a1d1f43c15dfa3c44b23b90c1105e37f4ced88e
