<div id="accueil">
  <img  src="/images/gifts.jpg" alt="gifts"/>
  <p>Déçu par un cadeau ?<br>
    Nous avons la solution &#128513; <br>
    Echangez-le contre un cadeau qui vous plait vraiment, ou offrez-le à l'une de nos associations partenaires. <br>
  </p>

  {{!-- <h3>Les derniers cadeaux ajoutés</h3>
  <img src="" alt="cadeau"/>
  <img src="" alt="cadeau"/>
  <img src="" alt="cadeau"/>

  <h3>Ils ont trouvé leur bonheur</h3>
  <img src="" alt="cadeau"/>
  <img src="" alt="cadeau"/>
  <img src="" alt="cadeau"/>
  <img src="" alt="cadeau"/> --}}

</div>