<link rel="stylesheet" href="/stylesheets/style-index.css" />
{{!-
╔╦╗╔═╗╦╔╗╔  ╔═╗╔═╗╔╗╔╔╦╗╔═╗╦╔╗╔╔═╗╦═╗
║║║╠═╣║║║║  ║  ║ ║║║║ ║ ╠═╣║║║║║╣ ╠╦╝
╩ ╩╩ ╩╩╝╚╝  ╚═╝╚═╝╝╚╝ ╩ ╩ ╩╩╝╚╝╚═╝╩╚═
-}}
<div class="main-container">
  <div class="header-container">
      <div class="header-container-box" id="header-picture">
        <div class="header-container-box-sub"><img src="/images/giftheader.png" alt="gift"/></div>
        <div class="header-container-box-sub"></div>
      </div>
      <div class="header-container-box" id="intro-box">
         <div class="header-container-box-sub" id="intro">
            <div id="slash"></div>
            <div><p id="title">Disappointed with your gift this year ?</p></div>
         </div>
         <div>
          <div class="header-container-box-sub" >
            <div><p id="intro-text">Well we have the solution ! With Re/gift, swap it for an item you really like.</p></div>
         </div>
      </div>
  </div>
</div>
