<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{title}}</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
   </head>

   <body>
      <nav id="nav">
        <a href="/"><img src="/images/logo.png" alt="logo"/></a>
        <a href="/lescadeaux">Les cadeaux</a>
        <a href="/lesassociations">Les associations</a>
        <a href="/login">Mon compte</a>
        {{#if userInSession }}
          <a href="/logout">Se déconnecter</a>
        {{/if}}
      </nav><br><br>

      <main>
        {{{body}}}
      </main>

      <br><br><footer id="footer">
         <a href="">Qui sommes nous ?</a>
         <a href="">FAQ</a>
         <a href="">Aide</a>
      </footer>

      <script src="/js/script.js"></script>
   </body>

</html>