body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

/* Style pour mieux visualiser le code uniquement */
nav {
  border: 2px solid #f51515c4;
}

footer {
  border: 2px solid #f51515c4;
}

#accueil img {
  width: 500px;
}

#nav img {
  width: 100px;
}

#gifts img {
  width: 50px;
}