{{#if userInSession}} 
<h1>Congrats for your barter with {{giftproposed.user.username}}</h1>

<p class="contact">You can contact {{giftproposed.user.username}} at <strong>{{giftproposed.user.email}}</strong> to discuss the details.</p>

<div class="footer-previouspage">
<a href="/transactionsstatus">Return to the transactions page</a>
</div>
{{else}}
    <p><a href="/login">Please log-in or sign-up to start trading with our community !</a></p>
{{/if}} 