{{#if userInSession}}

<div class="container-signup-form">
  <div class="box-signup-form">

<h2>Edit the transation status with {{giftproposed.user.username}}</h1>

<form action="/transaction/{{transactionsIamaskedfor.id}}" method="POST">

  <label>
      Status
      <select multiple name="status">
        <option value="accept">Accept</option>
        <option value="decline">Decline</option>
      </select>
  </label>


   <button>Edit</button>

  
</form>
  </div>
</div>

<a href="/profile">Return to my profile</a>
{{else}}
<a href="/login">Please log-in or sign-up to start tarding with our community !</a>
{{/if}}