<h1>Gifts categories</h1>

<div id="gifts">
  <div>
    <img src="/images/books.jpg" alt="booksImg" />
    <h2><a href="/gifts/category?name=books">The books</a></h2>
  </div>

  <div>
    <img src='/images/box.jpg' alt="BoxImg"/>
    <h2><a href="/gifts/category?name=boxes">The experiences boxes</a></h2>
  </div>

  <div>
    <img src='/images/fragance.jpg' alt="FragranceImg"/>
    <h2><a href="/gifts/category?name=fragrances">The fragrances</a></h2>
  </div>
  
  <div>
    <img src='/images/toys.jpg' alt="ToysImg"/>
    <h2><a href="/gifts/category?name=toys">The toys</a></h2>
  </div>
</div>

<a href="/profile">My profile</a>