<h1 class="category-title">Gifts by categories</h1>

<div class="category-container">



    <div class="category-box">
        <div class="category-photo">
        <img src="/images/giftcat-book.png" alt="booksImg" />
        </div>

        <div class="category-hover right">
          <div class="category-detail">
          <h2><a href="/gifts/category?name=books">Books</a></h2>
          </div>
        </div>
    </div>


    <div class="category-box">
        <div class="category-photo">
        <img src='/images/giftcat-box.png' alt="BoxImg"/>
        </div>

        <div class="category-hover left">
          <div class="category-detail">
          <h2><a href="/gifts/category?name=boxes">Boxes</a></h2>
          </div>
        </div>
    </div>


    <div class="category-box">
        <div class="category-photo">
        <img src='/images/giftcat-perfume.png' alt="FragranceImg"/>
        </div>

        <div class="category-hover right">
          <div class="category-detail">
          <h2><a href="/gifts/category?name=fragrances">Fragrances</a></h2>
          </div>
        </div>
    </div>


    <div class="category-box">
        <div class="category-photo">
        <img src='/images/giftcat-toy.png' alt="ToysImg"/>
        </div>

        <div class="category-hover left">
          <div class="category-detail">
          <h2><a href="/gifts/category?name=toys">Toys</a></h2>
          </div>
        </div>
    </div>

</div>

<div class="footer-previouspage">
<a href="/profile">Return to my profile</a>
</div> 