{{#if userInSession}}
<h2>"{{giftDetails.name}}" details</h2>

  <img src="{{giftDetails.picture}}" alt="photo">


  <p>Description : {{giftDetails.description}}</p>

  <a href="/profile">Return to my profile</a>
{{else}}
  <p>Log in</p>
{{/if}}