<h2>"{{giftDetails.name}}" details</h2>

  <img src="" alt="photo1">
  <img src="" alt="photo2">
  <img src="" alt="photo3">
  <img src="" alt="photo4">

  <p>Description : {{giftDetails.description}}</p>

  <a href="/profile">Return to my profile</a>