<h1>Add a new gift</h1>

<form action="/addgift" method="POST">
  <label>
      Name
      <input type="text" name="name">
  </label>

  <label>
      Category
      <select multiple name="category">
        <option value="fragrances">Fragrances</option>
        <option value="boxes">Boxes</option>
        <option value="toys">Toys</option>
        <option value="books">Books</option>
      </select>
  </label>

  <label>
      Brand
      <input type="text" name="brand">
  </label>

  <label>
      Description
      <textarea name="description">
      </textarea>
  </label>

  {{!-- <label>
      Photos
      <input type="text" name="photos">
  </label> --}}

   <button>Add</button>
  
</form>

<a href="/monprofil">Return to my profile</a>