{{#if userInSession}}
<h1>Add a new gift</h1>

<form action="/mygifts" method="POST" enctype="multipart/form-data">
  <label>
      Name
      <input type="text" name="name">
  </label>

  <label>
      Category
      <select multiple name="category">
        <option value="books">Books</option>
        <option value="boxes">Boxes</option>
        <option value="fragrances">Fragrances</option>
        <option value="toys">Toys</option>  
      </select>
  </label>

  <label>
      Brand
      <input type="text" name="brand">
  </label>

  <label>
      Description
      <textarea name="description">
      </textarea>
  </label>

  <label>
      Picture
      <input type="file" name="pic"/>
  </label>

   <button>Add</button>
  
</form>

<a href="/profile">Return to my profile</a>
{{else}}
  <p>Log in</p>
{{/if}}